<div>
    {% if compte is defined %}
          
        {{newUser.get_title}} :
        {{newUser.get_description}}
         
    {% endif %}
</div>

<p>Vous pouvez désormais vous connectez sur votre compte..</p>